<h2>Lista produktów</h2>
<div class="products-wrapper">
  <div class="single-product-card" *ngFor="let product of products">
    <div class="product-picture-wrapper">
      <img [src]="product.image" alt="" />
    </div>
    <div class="product-title-wrapper">
      <h3>{{ product.title }}</h3>
    </div>
    <div class="product-details-wrapper">
      <div class="product-ratings-wrapper">
        <span>Ocena: {{ product.rating.rate }}</span>
        <span>{{ product.rating.count }} ocen</span>
      </div>
      <div class="product-price-wrapper">
        <a class="product-price"> {{ product.price.toFixed(2) }}zł </a>
      </div>
    </div>
  </div>
</div>
