<h2>Komponent - Lista produktów</h2>
<div class="products-wrapper">

    <div class="single-product-card"  *ngFor="let product of products">
        <div class="product-picture-wrapper">
            <img [src]="product.image" alt="">
        </div>
        <div class="product-title-wrapper">
            <h3>{{ product.title }}</h3>
        </div>
        <div class="product-details-wrapper">
            <p>Ocena: {{ product.rating.rate }} / {{ product.rating.count }} ocen</p>
            <span>{{ product.price }}</span>
        </div>
    </div>
</div>
